body{
    font-family: Montserrat, sans-serif;
    text-align: center;
}

header {
    background-color: #E0B0FF;
    padding: 10px 0;
}

.encabezado{
    position: relative;
    display: block;
    margin: 0 auto;
    width: auto;
    font-size: 30px;
    font-weight: bold;
    padding: 0.5em;
}

form{
    margin: 10px;
    display: block;
}

.etiqueta{
    display: block;
    margin: 0.5em 1em 1em;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    color: #2F2140;
    margin: 10px 10px 0;
}

.caja-texto{
    display: block;
    font-size: 18px;
    
    padding: 10px;
    width: 95%;
    border-color: #2F2140;
    border-width: 2.5px;
    border-radius: 20px;
}

.boton-accion{
    width: 20%;
    display: inline-block;
    text-align: center;
    margin: 1em;
    padding: 10px 0;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: #2F2140;
    border: none;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
}

.boton-accion:hover{
    background: #9400D3;
    transform: scale(1.2);
}

.texto-resultado{
    display: block;
}


/* Codigo para hacer responsiva la pagina*/

@media screen and (max-width:480px){
    .encabezado, h1{
        width: auto;
    }
    
    .boton-accion{
        font-size: x-small;
        font-weight: 100;
        width: 25%;
    }

    footer{
        font-size: x-small;
    }
    
}


